body{
    background-color: black;
}

.modal-header{
    background-color: black;
}

.modal-body{
    background-color: black;
}

.modal-title{
    color:wheat;
}
.top-margin{
    margin-top:7%;
}
.align{
    margin-top:7%;
    width:70%; 
    margin-left:15%;
}

.verticle{
   height:95%; 
   width:85%; 
}

.horizontal{
    margin-top:30%;
}

.square{
    height:95%; 
    width:95%; 
}

.messagebox{
    border: 5px solid wheat; 
    position: absolute;
    height: 3%;
    width:30%;
    margin-top: 5%;
    margin-left: 31%;
    z-index: 0;
}

.messagebox-in{
    border: 5px solid wheat; 
    position: absolute;
    height: 2.5%;
    width:30%;
    margin-top: 5%;
    margin-left: 25%;
    z-index: 0;
}

.messagebox-in2{
    border: 5px solid wheat; 
    position: absolute;
    height: 3%;
    width:30%;
    margin-top: 5%;
    margin-left: 25%;
    z-index: 0;
}
.message{
    position: absolute;
    text-align: center;
    margin-top: 28%;
    margin-left: 58.5%;
    z-index: 1;
    font-size: 12px;
    color: white;
}

.message-top{
    position: absolute;
    text-align: center;
    margin-top: -105%;
    margin-left: 100%;
    width: 100%;
    font-size: 18px;
    color: white;
 }

.message-bottom{
    position: absolute;
    text-align: center;
    margin-top: -15%;
    margin-left: 100%;
    width: 100%;
    font-size: 18px;
    color: white;
 }

.message-title{
    position: absolute;
    text-align: center;
    margin-top: 15%;
    margin-left: 58.5%;
    z-index: 1;
    font-size: 20px;
    color: white;
}

.message-title2{
    position: absolute;
    text-align: center;
    margin-top: 15%;
    margin-left: 60.5%;
    z-index: 1;
    font-size: 20px;
    color: black;
}

.message-title-right{
    position: absolute;
    text-align: center;
    margin-top: 17%;
    margin-left: 42%;
    z-index: 1;
    font-size: 15px;
    color: white;
}

.message-title-left{
    position: absolute;
    text-align: center;
    margin-top: 12%;
    margin-left: 22%;
    z-index: 1;
    font-size: 19px;
    color: white;
}

.message-titlesm{
    position: absolute;
    text-align: center;
    margin-top: 15%;
    margin-left: 60.5%;
    z-index: 1;
    font-size: 18px;
    color: white;
}

.messagebox-left{
    border: 7px double wheat;
    position: absolute;
    height: 1.5%;
    width:12%;
    margin-top: 15%;
    margin-left: -13%;
    z-index: 1;
}

.messagebox-right{
    border: 5px solid wheat; 
    position: absolute;
    height: 1.75%;
    width:19%;
    margin-top: 12%;
    margin-left: 59%;
    z-index: 1;
}

.messagebox-rightnb{
    position: absolute;
    height: 20%;
    width:17%;
    margin-top: 15%;
    margin-left: 59%;
    z-index: 1;
}

.messageboxin{
    border: 5px solid gray; 
    position: absolute;
    height: 33%;
    width: 27.5%;
    margin-top: 7%;
    margin-left: 30%;
    z-index: 0;
}

.messageboxin2{
    border: 5px solid lightgray; 
    position: absolute;
    height: 26%;
    width: 23%;
    margin-top: 8.9%;
    margin-left: 32.3%;
    z-index: 0;
}

.messageboxnb{ 
    position: absolute;
    height: 40%;
    margin-top: 5%;
    margin-left: 27%;
    z-index: 0;
}

.midbox{
    background-color: wheat;
    height: 45%;
}
.midtitle{
    width: 70%;
    color: black;
    text-align: center;
    margin-left: 128%;
    margin-top: -77%;
    font-size: 23px;
    border: 7px double black;
}

.midmessage{
    width: 70%;
    color: black;
    text-align: center;
    margin-left: 128%;
    margin-top: 15%;
    font-size: 15px;
}

.midtitle2{
    width: 70%;
    text-align: center;
    margin-left: 128%;
    margin-top: -90%;
    font-size: 23px;
    border: 7px double white;
    color: white;
}

.midmessage2{
    width: 70%;
    text-align: center;
    margin-left: 128%;
    margin-top: 15%;
    font-size: 15px;
    color: white;
}

.frame{
    border: 7px solid gray;
    padding: 10px;
}

.frameY{
    border: 7px solid wheat;
    padding: 10px;
}
.frame-nopadding{
    border: 7px solid gray;
 }

.frame2{
    border: 7px solid wheat; 
    margin-top: -3%;
    margin-left: 45%;
    height: 3.75%;
    width:32.5%;
    padding:10px;
    position: absolute;
    z-index: -1;
    background-color: wheat;
 }

.frame2-horizontal{
    border-right: 30px solid gray; 
    margin-top: -3%;
    margin-left: 45%;
    height: 3%;
    width:32.5%;
    padding:10px;
    position: absolute;
    z-index: -1;
    background-color: wheat;
}

.verticle-frame2{
    border: 7px solid wheat; 
    background-color: wheat;
    margin-left: -13%;
    margin-top:-120%;
    height: 111%;
    width: 30%;
    position: absolute;
    z-index: -1;
}

.frame3{
    border: 7px solid wheat;
    padding: 10px;
}

.lgframe{
    border: 7px solid lightgray;
    padding: 10px;
}
 
.double{
    border: 15px double wheat;
    padding: 10px;
}

.framepad{
    border: 12px solid wheat;
    padding: 10px;
    background-color: gray;
}

.pad{
    padding: 20px;
}

.partleft{
    margin-left: -25%;
}

.partright{
    margin-left: 25%;
}

.adjust{
    margin-left:-55%;
}
.adjust2{
 margin-top: -100%;
    margin-left: 150%;
}

.ribbon{
    border: 7px solid wheat; 
    margin-top: 15%;
    height: 1.25%;
    width: 100%;
    margin-left: -15%;
    padding:10px;
    position: absolute;
    z-index: -1;
    background-color: wheat;

}

.pillarleft{

margin-left: -90%;
}

.pillarright{
    margin-left: 300%;
    margin-top: -180%;
}


.midpillar{
    margin-left: -55%;
}

.mainphoto{ 
    margin-left: 20%;
    padding-right: 0;
    position: absolute;
}

